* {margin: 0; padding: 0; box-sizing: border-box;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(248, 239, 239);
}

.avatar{
    margin-top: 50px;
}
.avatar img{
    height: 100px;
    border-radius: 50px;
}

.description{
    padding: 0 20px;
}

.description h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
    color: #333333;
}

.description h2 {
    font-size: 0.9rem;
}

.dica{
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
}

textarea {
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.botoes{
    margin-top: 2000px;
}

.btn {
    background-color: #fff;
    border: none;
    height: 30px;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    color: #333333;

}

#clear {
    background-color: #333333;
    color: #fff;
}


label {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: rgb(83, 83, 83);
}