* {margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: #f8efef;

}

.description h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    margin: 80px 0;
    color: #333333;
}

.dica{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    justify-content: left;
}

textarea {
    width: 60%;
    height: 60%;
    margin: 10px 0;
    padding: 20px;
    resize: none;
    border: none;
    border-radius: 20px;
}


@media (max-width: 420px)
{
  textarea{
    width: 90%;
    height: 30%;
   
  }
}

.botoes{
  margin-left: 10px;
  
}

.btn {
    background-color: #fff;
    border: none;
    height: 35px;
    padding: 0px 10px;
    color: #333333;
    margin-left: 5px;
    border-radius: 10px;
}

@media (max-width: 420px)
{
  .btn{
    margin-top: 10px;
  }
}


.btn:hover {
    background-color: rgb(241, 241, 241);
    
}

#clear {
    background-color: #333333;
    color: #fff;
}


#clear:hover{
    background-color: #272727;
    color: #fff;
}

label {
    font-size: 12px;
    font-weight: 500;
    color: rgb(83, 83, 83);
}

